/* File picker */
.filepicker {
    position: fixed;
    top: 0;
    left: 0;
    
    display: none;
    width: 100%;
    height: 100%;
    z-index: 9999;

    background-color: rgba(255,255,255,0.95);
    overflow: auto;
}

.filepicker-inner {
    position: relative;
    
    @include box-sizing(border-box);
    height: 100%;
    max-width: 836px;
    margin: 0 auto;
    padding: 71px 0 71px;
    
    background-color: #fff;
}

.filepicker-inner .section-header {
    position: absolute; 
    top: 0;
    left: 0; 
    z-index: 200;

    @include box-sizing(border-box);
    width: 100%;
}

.filepicker-wrp {
    position: relative;
    height: 100%;
}

.filepicker #filemanager {
    position: relative;
    height: 100%;
}

.filepicker-footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 200;

    width: 100%;
    padding: 20px 0;

    text-align: center;
    border-top: 1px solid $field-border-color;
}