// Variables
$primary-font-family: 'Fira Sans', sans-serif;

// Colors
$color-primary: #3b7cff;
$color-primary-hover: #003569;

$color-danger: #ff3d3d;
$color-success: #058C15;
$color-info: #3b7cff;

$color-light: #f5f5f5;
$color-mid: #9b9b9b;
$color-dark: #212121;

$section-border-color: #e0e0e0;
$field-border-color: #eeeeee;

$transition-duration: .2s;
$transition-ease: ease;
$transition: all $transition-ease $transition-duration;

$section-box-shadow: 2px 2px 6px 0 #e9ebee;
$dropdown-box-shadow: 0px 2px 6px 0 #e9ebee;